*{
    margin: 0;
    padding: 0;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-size: 29px;
    font-weight: 700;
    color: #181818;
}
.section-description, .skill-description{
    font-size: 15px;
    color: #757575;
    margin: 20px 0;
}
.text-center{
    text-align: center;
}

/* header styles */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 50px, bottom right;
    background-size: 70px, 710px;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 38px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 32px 0 195px ;
}
.banner-grettings{
    font-size: 38px;
    font-weight: 600;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
}
.banner-description{
    font-size: 15px;
    margin: 10px 0;
}
.banner-profile-pic{
    width: 495px;
}

/* about styles */
.about{
    max-width: 750px;
    margin: 130px auto;
    border-radius: 10px;
    padding: 110px 130px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 17px;
}
.item-description{
    font-size: 17px;
    font-weight: 700;
}

/* skills styles */
.skills{
    max-width: 1000px;
    margin: 0 auto;
}
.skills-container{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.skill{
    padding: 26px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill img{
    padding: 20px 0;
}

/* resume-styles */
.resume{
    max-width: 1000px;
    margin: 100px auto;
}
.resume-container{
    margin-top: 70px;
    display: flex;
    gap: 20px;
}
.column-title{
    font-size: 21px;
}
.experience-title{
    padding-top: 20px;
    font-size: 18px;
}
.experience-sub-title{
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
}
.experience-description{
    font-size: 15px;
    padding: 20px 0;
}
.resume hr{
    opacity: 30%;
}
.resume button{
    margin: 30px 0;
}

/* footer styles */
.footer-container{
    display: flex;
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
footer input[type="text"], input[type="email"]{
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    margin-top: 20px;
}
footer textarea{
    border: none;
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
}